* {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
        background-color: rgba(246, 191, 200, 0.486);
        margin: 0;
        padding: 0;
}

h1 {
        text-align: center;
        padding: 20px;
}

.container {
        text-align: center;
        margin: 20px;
}

select {
        padding: 10px;
        font-size: 16px;
}

button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: rgba(220, 131, 147, 0.486);
        color: black;
        border: none;
        cursor: pointer;
}

button:hover {
        background-color: rgba(246, 191, 200, 0.486);
}

#new_jewelry {
        text-align: center;
        margin: 20px;
}

#jewelry {
        text-align: center;
        margin: 20px;
}